@{
  Layout = "_Layout";
}

@model Places.Models.City

<h4>Add a new city</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new city" class="btn btn-outline-success">
}

<input type="button" class="btn btn-outline-primary" value="Back to list" onclick="location.href='@Url.Action("Index")'">