@{
  Layout = "_Layout";
}

<h1>All The Places You've Been!</h1>

<button class="btn btn-outline-primary">@Html.ActionLink("See all Cities", "Index", "Cities")</button>
<button class="btn btn-outline-primary">@Html.ActionLink("See all Landmarks", "Index", "Landmarks")</button>
<button class="btn btn-outline-primary">@Html.ActionLink("See all People", "Index", "People")</button>