@{
  Layout = "_Layout";
}

<h1>All Of The Places We've Been!</h1>

<input type="button" class="btn btn-outline-primary" value="See the people" onclick="location.href='@Url.Action("Index", "People")'">
<input type="button" class="btn btn-outline-primary" value="See the cities" onclick="location.href='@Url.Action("Index", "Cities")'">
<input type="button" class="btn btn-outline-primary" value="See the landmarks" onclick="location.href='@Url.Action("Index", "Landmarks")'">